.container {
    max-width: 1440px;
    margin: auto;
}
.product img {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}
.product {
    display: flex;
}

.product-left,
.product-right {
    max-width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: stretch;
    flex-direction: column;
}

.product-title {
    width: 100%;
    text-align: center;
    color: white;
}
.product-container {
    margin: 40px 0px 40px 0px;
    display: flex;
}

.product-button {
    border: 1px solid white;
    max-width: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.product-button-white {
    color: white;
}

.product-button-black {
    color: black;
    border-color: black;
}

.product-description {
    text-align: center;
    padding: 30px 60px 30px 60px;
    font-size: 18px;
}